html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    background-color: azure;
    min-height: 100%;
}
